.button {
    background-color: lightgray;
    border: 3px solid darkgrey;
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.button:hover {
    border: 3px  grey outset;
}

.button:active {
    border: 3px inset lightgray;
    background-color: grey;
}

img {
    max-height: 400px;
    max-width: 400px;
}

.section>div {
    box-shadow: grey 3px 3px 5px 1px;
    padding: 5;
    margin: 20;
    max-width: 400px;
}